body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: bisque;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-area: 1px;
    width: 200px;
    height: 200px;
    gap: 1px;
    margin-top: 5px;
    border: 5px solid pink;
    border-radius: 5px;
}

.myCell {
    background-color: lightgray;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nav-container button {
    margin-right: 10px;
  }

  .footer {
    display: flex;
    justify-content: center;
  }

  .footer p {
    font-size: 10px;
    margin-top: 5px;
  }

  sizeSlider {
    width: 15px;
    height: 2px;
  }